{% extends "main/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="home">
        {% if show_cafes %}
            {% for cafe in cafes %}
                <div class="cafes-in">
                    <div class="cafe-name">
                        <a href="{% url 'main:workers' cafe.slug %}" class="cafe-name-a">{{ cafe.name }}</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Пусто</p>
        {% endif %}
    </div>
{% endblock content %}