{% extends "main/base.html" %}
{% load static %}

{% block content %}
<h2>Заявки на смены</h2>
{% if role == 'SHOP_ADMIN' or role == 'SUPER_ADMIN' %}
<div class="application">
    {% if shift_req %}
    {% for s in shift_req %}
        <div class="application-item">
            <h3>Имя: {{ s.worker.name }}</h3>
            <h5>Создана: {{ s.requested_at|date:"d.m H:i" }}</h5>
            <h5>На смену: {{ s.shift.date|date:"d.m" }} на {{ s.shift.coffee_shop.name }} {% if s.shift.start_time %}в {{ s.shift.start_time|time:"H:i" }}{% endif %}</h5>
            <h5>Предложена: {% if s.taken_by == None%}Никому{% else %}{{ s.taken_by.name }}{% endif %}</h5>
            <h5>Причина: {{ s.reason }}</h5>
            <form action="{% url 'main:accept_application' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{ s.id }}">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Подтвердить</button>
            </form>
            <form action="{% url 'main:reject_application' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{ s.id }}">
                <button type="submit" class="btn btn-sm btn-outline-danger">Отклонить</button>
            </form>
            <hr>
        </div>
    {% endfor %}
    {% else %}
        <p>Заявок нет</p>
    {% endif %}
</div>
{% else %}
<div class="application">
    {% for app in my_incoming %}
        <div class="application-item">
            <h3>{{ app.worker.name }} хочет отдать вам смену {{ app.shift.date|date:"d.m" }} на {{ app.shift.coffee_shop.name }} {% if app.shift.start_time %}в {{ app.shift.start_time|time:"H:i" }}{% endif %}</h3>
            <form action="{% url 'main:confirm_take_shift'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{ app.id }}">
                <button type="submit" name="action" value="accept" class="btn btn-sm btn-outline-secondary">Подтвердить</button>
                <button type="submit" name="action" value="reject" class="btn btn-sm btn-outline-secondary">Отказать</button>
            </form>
            <hr>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}