{% extends "main/base.html" %}
{% load static %}

{% block content %}
<h1>Заявки на смены</h1>
{% if role == 'SHOP_ADMIN' or role == 'SUPER_ADMIN' %}
<div class="application">
    {% for s in shift_req %}
        <div class="application-item">
            <h3>Имя: {{ s.worker.name }}</h3>
            <h5>Создана: {{ s.requested_at }}</h5>
            <h5>На смену: {{ s.shift.date }}</h5>
            <h5>Предложена: {% if s.taken_by == None%}Никому{% else %}{{ s.taken_by }}{% endif %}</h5>
            <h5>Причина: {{ s.reason }}</h5>
            <form action="{% url 'main:accept_application' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{ s.id }}">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Подтвердить</button>
            </form>
            <form action="{% url 'main:reject_application' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{ s.id }}">
                <button type="submit" class="btn btn-sm btn-outline-danger">Отклонить</button>
            </form>
            <hr>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="application">
    {% for app in my_incoming %}
        <div class="application-item">
            <h3>{{ app.worker.name }} хочет отдать вам смену {{ app.shift.date }}</h3>
            <form action="{% url 'main:confirm_take_shift'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{ app.id }}">
                <button type="submit" name="action" value="accept" class="btn btn-sm btn-outline-secondary">Подтвердить</button>
                <button type="submit" name="action" value="reject" class="btn btn-sm btn-outline-secondary">Отказать</button>
            </form>
            <hr>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}