<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header class="header sticky-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between py-2">
            <a class="btn btn-sm btn-outline-dark" href="{% url 'main:index' %}">Главная</a>
            {% if user.is_superuser %}
            <div class="d-flex align-items-center gap-2">
                <a class="btn btn-sm btn-outline-dark" href="{% url 'admin:index' %}">Админка</a>
                <a class="btn btn-sm btn-primary" href="{% url 'main:assign_shop_admin' %}">Назначить управляющих</a>
                <a class="btn btn-sm btn-primary" href="#">Статистика</a>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <a>{{ user.username }}</a>
            <a class="btn btn-sm btn-primary" href="{% url 'main:logout' %}">Выйти</a>
            {% else %}
            <a class="btn btn-sm btn-primary" href="{% url 'main:login' %}">Войти</a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>